<div class="my-container">

    <div class="card text-white bg-primary m-5" style="max-width: 18rem;">
        <div class="card-header text-center">
            <h2>{{city}}</h2>
            <p> <img src="{{iconURL}}" alt="weather image"> </p>
        </div>
        <div class="card-body">
        <h5 class="card-title">Summary: {{summary}} </h5>
        <p class="card-text">Temperature: {{temperature}} °F</p>
        <p class="card-text">Feels like: {{feelsLikeTemp}} °F</p>
        <p class="card-text">High: {{maxTemp}} °F</p>
        <p class="card-text">Low: {{minTemp}} °F</p>
        <p class="card-text">Humidity: {{humidity}}%</p>
        <p class="card-text">Precipitation:</p>
        <p class="card-text">Wind: {{wind}} mph</p>
        <p class="card-text">Clouds:</p>


        </div>
    </div>
</div>
